.container {
  width: 40vw;
  min-width: 298px;
  max-width: 942px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid #3498db;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
}

button:active {
  transform: scale(90%);
}

.box {
  background-color: #fff;
  box-sizing: border-box;
  flex-grow: 1 1 auto;
  padding: calc(100% / 16 / 2);
}

@media screen and (max-width: 590px) {
  .container {
    width: 90vw;
  }
}
