.container {
  width: 40vw;
  min-width: 490px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: darkslategrey;
  border: 0.5px groove #fff;
  box-sizing: border-box;
  flex-grow: 1 1 auto;
  padding: 2.9%;
}
